node_modules/
public/js

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

# Project-specific stuff
pre2021Work/.cache/
pre2021Work/.clj-kondo/.cache/
pre2021Work/.lsp/.cache/