/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# clj-kondo cache
/.clj-kondo/.cache

# Project-specific stuff
pre2021Work/.cache/
pre2021Work/.clj-kondo/.cache/
pre2021Work/.lsp/.cache/
